.player-card {
    width: 95%;
    background: linear-gradient(to right,#1d4fbb, #0e2685);
    Padding: 3% 5%;
    margin-bottom: 3%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.player-card .info-holder hr {
    border-top: none;
    border-bottom: 1px solid #458ece;
}

.player-card h3 {
    font-weight: 250;
    font-size: xx-large;
    margin: auto;
}

.player-card p {
    font-weight: 300;
    font-size: medium;
}

button {
    background-color: #fff;
    border-style: none;
    border-radius: 3px !important;
    padding: 8px 25px;
    font-size: small;
    color: #0f5899;
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.29);
}

button:focus {
    outline: none;
}

.image-holder {
    align-self: center;
}

.image {
    width: 200px;
    height: 200px;
}
.image-holder img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
}